<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lec.spring.hire.beans.IWriteDAO">


	<select id="selectFromRow"
			resultType="com.lec.spring.hire.beans.HWriteDTO">
		<![CDATA[
		SELECT
			 h_uid "uid",h_title title, h_career career,to_date(h_regDate, 'YYYY-MM-DD')-round(sysdate) remainDate
		FROM
			(SELECT ROWNUM AS RNUM, T.* FROM
				(SELECT * FROM Hire ORDER BY h_uid DESC) T)
		WHERE
			RNUM >= #{from} AND RNUM < (#{from} + #{pageRows})
		]]>
	</select>


	<!-- SELECT 쿼리문인데, 단일값 int 값 받고 싶으면
		resultType="java.lang.Integer" 혹은
		resultType="int"
	 -->
	<select id="countAll" resultType="int">
		SELECT count(*) FROM test_write
	</select>





	<select id="select"
		resultType="com.lec.spring.hire.beans.HWriteDTO">
		SELECT h_uid "uid",h_title title, h_career career,to_date(h_regDate, 'YYYY-MM-DD')-round(sysdate) remainDate
		FROM
		HIRE
		ORDER
		BY
		h_uid DESC
	</select>


	<select id="selectByUid"
		resultType="com.lec.spring.hire.beans.HWriteDTO">
		SELECT h_uid "uid", h_name name, h_part part
		FROM
		Hire
		WHERE h_uid=
		#{param1}
	</select>

	<insert id="insert" flushCache="true"
			parameterType="com.lec.spring.hire.beans.HWriteDTO"
			keyProperty="uid" useGeneratedKeys="true" keyColumn="h_uid">
		INSERT
		INTO
		Hire
		(C_UID,h_uid,h_name,h_title, h_salary,h_position1, h_position2, h_part,h_career,h_degree,h_workform,h_upDate,h_regDate)
		VALUES
		(#{C_UID},hire_seq.nextval,#{name},#{title},#{salary},#{position1} ,#{position2}, #{part},#{career},#{degree},#{workform},#{upDate},#{regDate})
	</insert>

	<!-- 	 <insert id="insert" flushCache="true">
            INSERT INTO Hire
            (h_uid,h_title, h_salary, h_position2, h_part)
            VALUES
            (hire_seq.nextval, #{param1}, #{param2}, #{param3})
        </insert> -->


	<update id="update" flushCache="true">
		UPDATE Hire SET
		h_name=#{a.name},
		h_part=#{a.part}
		WHERE
		h_uid = #{param1}

	</update>

	<delete id="deleteByUid" flushCache="true">
		DELETE FROM Hire WHERE
		h_uid = #{param1}
	</delete>


</mapper>

