<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lec.spring.app.persistence.ListDAO">


    <select id="select" resultType="com.lec.spring.app.domain.ListDTO">
        select * from graphList
    </select>

    <update id="update" flushCache="true">
       UPDATE graphList SET
       graphView1 = #{param1},
       graphView2 = #{param2},
       graphView3=#{param3},
       graphView4=#{param4},
       graphView5=#{param5},
       graphView6=#{param6},
       graphView7=#{param7}
       WHERE
        graphid = 1

    </update>
</mapper>