<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lec.spring.user.persistence.AdmDAO">

    <select id="loginAdm" resultType="com.lec.spring.user.domain.AdmDTO">
        select * from HAdmin where a_id = #{a_id}
    </select>

    <select id="checkOverId" parameterType="string" resultType="int">
        Select count(*) from HAdmin where a_id = #{a_id}
    </select>
</mapper>