<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.lec.spring.board.beans.IWriteDAO">
    	<select id="select" resultType="com.lec.spring.board.beans.BWriteDTO">
    		SELECT 
    			b_uid "uid",
    			b_subject subject,
		    	b_content content,
		    	b_regdate regdate,
		    	b_viewcnt viewcnt,
		    	b_category category,
		    	u_uid,
		    	c_uid 
				
			FROM
			 	board
			ORDER BY
			 	b_uid DESC  	

    	</select>   
    	
    	  
    	
    	<select id="selectCompany" resultType="com.lec.spring.board.beans.BWriteDTO">
    		SELECT c_uid, c_name companyName
    		from company
    	</select>
    	
    	<select id="countAll" resultType="int">
    		SELECT count(*) FROM board
    	</select>
    	
    	<select id="selectByPages" resultType="com.lec.spring.board.beans.BWriteDTO">
    		<![CDATA[
    		SELECT * FROM ( SELECT rownum AS rnum , b.*  FROM (SELECT b.b_uid "uid", b.b_subject subject, b.b_content content, b.b_regdate regdate, b.b_viewcnt viewcnt, b.b_category category, u.u_id writeName, c.C_NAME companyName FROM board b, huser u, company c WHERE b.u_uid = u.u_uid AND b.C_UID = c.c_uid AND b.b_category != '공지사항' ORDER BY b_uid DESC ) b
					) 
					WHERE rnum >= #{param1} AND rnum < (#{param1} + #{param2})
    		]]> 
    	</select>
    	
    	    <select id="selectByUid" resultType="com.lec.spring.board.beans.BWriteDTO">
 				SELECT 
 				 b.b_uid "uid", b.b_subject subject,
 				 b.b_content content, b.b_regdate regdate,
 				 b.b_viewcnt viewcnt, b.b_category category,
 				 u.u_id writeName,u.u_uid , c.C_NAME companyName
 				  FROM board b , huser u, company c
 				   WHERE b.u_uid = u.u_uid AND b.C_UID  = c.C_UID  AND b.b_uid = #{param1}
    		</select>
    		
    		<select id="countAllByCategory" resultType="int">
    		SELECT count(*) FROM board WHERE b_category = #{param1}
    		</select>
    		
    		<select id="countAllBySearch" resultType="int">
    		SELECT count(*) FROM board b , huser u, company c WHERE b.u_uid = u.u_uid AND b.C_UID  = c.C_UID  AND ( UPPER( b.b_subject) LIKE  upper('%'||#{param1}||'%')  OR  upper (c.C_NAME) LIKE upper('%'||#{param1}||'%') )
    		</select>
    		
    		<select id="countAllBySearch2" resultType="int">
    		SELECT count(*) FROM board b , huser u, company c WHERE b.u_uid = u.u_uid AND b.C_UID  = c.C_UID  AND ( UPPER( b.b_subject) LIKE  upper('%'||#{param1}||'%') )
    		</select>
    		
    		<select id="countAllBySearch3" resultType="int">
    		SELECT count(*) FROM board b , huser u, company c WHERE b.u_uid = u.u_uid AND b.C_UID  = c.C_UID  AND ( upper (c.C_NAME) LIKE upper('%'||#{param1}||'%') )
    		</select>
    		
    		<select id="selectByCategory" resultType="com.lec.spring.board.beans.BWriteDTO">
    	     <![CDATA[
    		SELECT * FROM
    		 ( SELECT rownum AS rnum , b.*  FROM (SELECT b.b_uid "uid", b.b_subject subject, b.b_content content, b.b_regdate regdate, b.b_viewcnt viewcnt, b.b_category category, u.u_id writeName, c.C_NAME companyName FROM board b, huser u, company c WHERE b.u_uid = u.u_uid AND b.C_UID = c.c_uid AND b.b_category = #{param1}  ORDER BY b_uid DESC ) b
					) 
					WHERE rnum >= #{param2} AND rnum < (#{param2} + #{param3})
    		]]> 
 
    		</select>
    		
    		<select id="selectBySearch" resultType="com.lec.spring.board.beans.BWriteDTO">
    		 <![CDATA[
    		SELECT * FROM ( SELECT rownum AS rnum , b.*  FROM (SELECT b.b_uid "uid", b.b_subject subject, b.b_content content, b.b_regdate regdate, b.b_viewcnt viewcnt, b.b_category category, u.u_id writeName, c.C_NAME companyName FROM board b, huser u, company c WHERE b.u_uid = u.u_uid AND b.C_UID = c.c_uid AND ( UPPER( b.b_subject) LIKE  upper('%'||#{param1}||'%')  OR  upper (c.C_NAME) LIKE upper('%'||#{param1}||'%') )  ORDER BY b_uid DESC ) b
					) 
					WHERE rnum >= #{param2} AND rnum < (#{param2} + #{param3})
			]]> 
    		</select>
    		 
    		<select id="selectBySearch2" resultType="com.lec.spring.board.beans.BWriteDTO">
    		 <![CDATA[
    		SELECT * FROM ( SELECT rownum AS rnum , b.*  FROM (SELECT b.b_uid "uid", b.b_subject subject, b.b_content content, b.b_regdate regdate, b.b_viewcnt viewcnt, b.b_category category, u.u_id writeName, c.C_NAME companyName FROM board b, huser u, company c WHERE b.u_uid = u.u_uid AND b.C_UID = c.c_uid AND ( UPPER( b.b_subject) LIKE  upper('%'||#{param1}||'%'))  ORDER BY b_uid DESC ) b
					) 
					WHERE rnum >= #{param2} AND rnum < (#{param2} + #{param3})
			]]> 
    		
    		</select>
    		
    		<select id="selectBySearch3" resultType="com.lec.spring.board.beans.BWriteDTO">
    		 <![CDATA[
    		SELECT * FROM ( SELECT rownum AS rnum , b.*  FROM (SELECT b.b_uid "uid", b.b_subject subject, b.b_content content, b.b_regdate regdate, b.b_viewcnt viewcnt, b.b_category category, u.u_id writeName, c.C_NAME companyName FROM board b, huser u, company c WHERE b.u_uid = u.u_uid AND b.C_UID = c.c_uid AND ( upper (c.C_NAME) LIKE upper('%'||#{param1}||'%') )  ORDER BY b_uid DESC ) b
					) 
					WHERE rnum >= #{param2} AND rnum < (#{param2} + #{param3})
			]]> 
    		
    		</select>
    		
    		
    		
    		
    		<select id="selectNotice" resultType="com.lec.spring.board.beans.BWriteDTO">
    			SELECT b.b_uid "uid", b.b_subject subject, b.b_content content, b.b_regdate regdate, b.b_viewcnt viewcnt, b.b_category category, u.u_id writeName, c.C_NAME companyName FROM board b, huser u, company c WHERE b.u_uid = u.u_uid AND b.C_UID = c.c_uid AND b.b_category = '공지사항' ORDER BY b_uid DESC
    		</select>
    		
    		
    		<update id="incViewCnt" flushCache="true">
    		UPDATE board SET b_viewcnt = b_viewcnt + 1 WHERE b_uid = #{param1}
    		
    		</update>
    		
    		<!--  
    		 <update id="update" parameterType="com.lec.sts15_mybatis.board.beans.BWriteDTO">
    	   UPDATE test_write SET wr_subject = #{subject}, wr_content = #{content} WHERE wr_uid = #{uid}
    
    		</update>
    		-->
    		
    		<update id="update" flushCache="true">
    	   UPDATE board SET b_subject = #{a.subject}, b_content = #{a.content}, b_category = #{a.category}, c_uid = #{a.c_uid} WHERE b_uid = #{param1}
    
    		</update>


    		
    		<delete id="deleteByUid">
    		DELETE FROM board WHERE b_uid = #{param1}
    		</delete>
    		
    		<!--  
    		<select id="searchBySubject" resultType="com.lec.sts15_mybatis.board.beans.BWriteDTO"> 
    		
    		</select>
    		-->
    		
    		<select id="replyCnt" resultType="int">
    			SELECT count(*) FROM reply WHERE b_uid = #{param1}
    			
    		</select>
    	
    </mapper>


