@charset "UTF-8";


nav#top_menu{

    font-size: 18px;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
}

a{ 
    text-decoration: none;
 }

 a:hover{
     color:cyan;
 }

 a.t_logo{
     width: 70px;
     height: auto;
     background-repeat: no-repeat;
    
 }