@charset "UTF-8";

.modal {
    width: 100%;  /* 윈도우 전체 차지 */
    height: 100%; /* 윈도우 전체 차지 */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 1; /* 최상단에 보이게 하기 */
    overflow: auto;  /* 필요한 경우 스크롤바 생기기 */

    display: none;  /* 기본적으로 팝업 안보이기 */
}

.modal-content {
    width: 80%;
    background-color: #fefefe;
    margin: 15% auto;  /* top 에서 15%, 좌우 균일(중앙정렬) */
    padding: 20px;
    border: 1px solid #888;
}

.close {
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    float: right;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
















