@charset "UTF-8";

*{
   box-sizing: border-box;
}


#mNav{
   display: none;  position: absolute; top:10px; right:14px;
}
.ham{display: block; width: 25px; height: 20px; background:rgba(0, 0,0, 0); padding-top:15px 10px 10px 10px;}
.ham span{position: relative; display: block; width: 25px; height: 4px; background: goldenrod;}
.ham span:before{
   content: '';
   width: 25px; height: 4px; background: goldenrod;
   position: absolute; left: 0; bottom: -7px;
}
.ham span:after{
   content: '';
   width: 25px; height: 4px; background: goldenrod;
   position: absolute; left: 0; top: -7px;
}
body, div ,img{
   margin: 0px;
   padding: 0px;
   border: 0px;
}
a{
   text-decoration: none;
}
ol, ul {
   margin-top: 0;
   margin-bottom: 10px;
}
ul, ol, li {
   list-style: none;
}
.footer{
   display: flex;
    background-color: white;
    color: #231815;
    width: 1100px;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    flex-wrap: nowrap;
}
.t_login{
   display: block;
   height: 50px;
}
.t_login ul {
   float: right;
   display: flex;
}
#main_img{
    width: 100%;
    height: 1000px;
    background-image: url("https://c.pxhere.com/photos/11/14/dumbbell_sport_weights_strength_training_weight_lifting_muscles_muscle_training_train-1376234.jpg!d");
    background-repeat: no-repeat;
    opacity: 1;
    background-size: cover;
}
#main_logo{
   
   position: absolute;
   width: 800px;
   height: 600px;
   top: 200px;
   left: 600px;
   opacity: 1; 
   border-style: none;
}
#main_img a:hover{
   opacity: 0.3;
}

div.t_login a{
   font-size: 18px;
   font-family: sans-serif;

}
div.t_login a:hover{
   
   color: gold;
}
div#top_menu{
   padding: 30px 100px;
   font-weight: 700;
   height: auto;
   position: relative;
   
}
div.t_login{
   color: #ffffff
}
a.login{
   padding: 10px;
   color: honeydew;
}
a.join{
   padding: 10px 0px 10px 10px;
   color: honeydew;
}
div.home img{
   width:220px;
   
}
div.home a:hover{
   opacity: 0.5;
}

.t_nav{
   float: right;
   display: block;
}
.t_nav a{
   color: white;
   font-size: 18px;

}
.t_nav a:hover{
   color:gold;
}
/*--------footer,고정(모든페이지) ----------------------------------------------------*/
.f1 img{
   width: 350px;
}
.f4 img{
   width: 350px;
}
.f2{
   padding-left: 60px;
}
.f2_nav .f2_content:first-child{
   padding-left: 0px;
}
.f2_nav .f2_content{
   font-weight: 900;
   color: gray;
   display: inline-block;
   border-right: 1.3px solid gray;
   padding: 1px 10px;
   margin-top: 50px;
   margin-bottom: 20px;
   font-size: 12px;
   font-family: sans-serif;
}

.f2_content a{
   background-color: transparent;
}
.f2_content a:hover{
   color: inherit;
}
.f_info{
   font-size: 12px;
   display: block;
}
.f3{
   display: flex;
    flex-direction: column;
    margin: 50px 0 40px 60px;
    width: 400px;
}
.f3_nav{
   display: flex;
   align-items: center;
}
.f3 .f3_nav .f3_content{
   width: 50px;
   margin-right: 15px;
}
.ar{
   font-size: 16px;
   font-family: sans-serif;
   font-weight: bold;

}
/*  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ index.html------------*/

/* -----------------------고정 메뉴(모든페이지)  */
#g{
   position: relative;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 12px;
   margin: auto;
   padding: 30px 100px;
   font-weight: 1000;
   height: auto;
}
   
div.go_login{
   color: #231815;
}
a.gologin{
   padding: 10px;
   color: #231815;
}
a.gojoin{
   padding: 10px 0px 10px 10px;
   color: #231815;
}

.go_nav a{
   color: #231815;
   font-size: 18px;

}
.go_login{
   display: block;
   height: 50px;
}
.go_login ul {
   float: right;
   display: flex;
}

div.go_login a{
   font-size: 18px;
   font-family: sans-serif;

}
div.go_login a:hover{
   
   color: gold;
}

.go_nav{
   float: right;
   display: block;
}

.go_nav a:hover{
   color:gold;
}

#side1{

   position: fixed;
	right: 10px; top: 600px;
   margin: 4px;
   box-shadow: 3px 4px 10px 2px rgba(0,0,0,.2);
   background-repeat: no-repeat;
   background-color: antiquewhite;
	border-radius: 30px;
   width: 60px;
   height: 60px;
 
  
}

#side2{
   position: fixed;
	right: 10px; top: 535px;
   margin: 4px;
   padding-left: 15px;
   padding-top: 15px;
   background-repeat: no-repeat;
   background-color: antiquewhite;
   box-shadow: 3px 4px 10px 2px rgba(0,0,0,.2);
	border-radius: 30px;
   width: 60px;
   height: 60px;
}

#top{
   position: fixed;
	right: 10px; top: 665px;
   margin: 4px;
   padding-left: 5px;
   padding-top: 5px;
   background-repeat: no-repeat;
   box-shadow: 3px 4px 10px 2px rgba(0,0,0,.2);
	border-radius: 30px;
   width: 60px;
   height: 60px;
}



/* ------------------------sub menu -------------*/
.sub_menu{
   float: left;
   width: 100%;
   padding: 10px 0px 0 0 ;
   bottom: 10px;
   margin: auto;
   /* height: 800; */
   text-align: center;
   background-color: black; 
}
.sub_menu a{
      display: block;
      font-size: 18px;
      color: gold;
      font-weight: 1000;
}
.sub_menu a:hover{
   cursor: pointer;
      
}

/* -----------------one---------------------- */
#one{
   float: left;
   width: 100%;
   height: auto;
   padding: 50px 0 20px 300px;
   font-size: 30px;
   color: rgb(212, 183, 18);
   font-weight: 1000;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.gym{
   /* border: 1px solid black; */
   width: 1100px;
   height: 800px;
   margin-left: 300px;
}


#a{
   z-index: 1;
   position: absolute;
   background-image: url("https://modo-phinf.pstatic.net/20180118_96/1516286054577mhqmF_JPEG/mosaQ2Zqfa.jpeg?type=w1100"  );
   height: 800px;
   width: 1000px;
   background-repeat: no-repeat;
}

#b{
   z-index: 2;
   position: absolute;

   background-image: url("https://modo-phinf.pstatic.net/20180118_268/1516286057231LNmBQ_JPEG/mosawkbRqI.jpeg?type=w1100");
   height: 800px;
   width: 1000px;
   background-repeat: no-repeat;


}
#c{
   z-index: 3;
   position: absolute;

   background-image: url("https://modo-phinf.pstatic.net/20180118_238/1516286059466laIhx_JPEG/mosaouLstE.jpeg?type=w1100");
   height: 800px;
   width: 1000px;
   background-repeat: no-repeat;

}
#d{
   z-index: 4;
   position: absolute;

   background-image: url("https://modo-phinf.pstatic.net/20180118_297/15162860662441qSY8_JPEG/mosaXUX8eS.jpeg?type=w1100");
   height: 800px;
   width: 1000px;
   background-repeat: no-repeat;

}
#d{
   z-index: 5;
   position: absolute;
   background-image: url("https://modo-phinf.pstatic.net/20180118_244/1516286061628RSWGD_JPEG/mosaOSakcV.jpeg?type=w1100");

   height: 800px;
   width: 1000px;
   background-repeat: no-repeat;

}
hr{
   margin-left: 300px;
   width: 1000px;

}

/* -----------------two---------------------- */


#btnBox{
   margin-left: 300px;
	/* border: 1px solid orange; */
   width: 300px;
   height: 100px;
   color: black;
}

#form {
   margin-left: 300px;
   width: 300px;
}

.important {
	color:red;
}

#form p{

	border: 3px solid orange;
   width: 300px;
   color: black;

}
#bar {
   margin-left: 300px;

}
#arrow{
   margin-left: 750px;

}

/* -----------------three---------------------- */

#map {
width: 80%;
 height:400px;
}

#guide{
   margin-left: 730px;
}
#guide a{
   background-color: black;
   font-weight: 700px;
   color: blanchedalmond;
   border-radius: 30%;
}
#guide a:hover{
   color: gold;
   opacity: 0.2;
}
/* ---------------modal */

.modal-content{

   width: 80%;
   background-color: #fefefe;
   margin: 15% auto; /* 두개면 하나씩 상하 좌우 이렇게임 , top 에서 15% 좌우 균일(중앙정렬)*/
   padding: 20px;
   border: 1px solid #888;
}

.close{
   font-size: 28px;
   font-weight: bold;
   color: #aaa;
   float: right;

}

.close:hover, .close:focus{
   color:#666;
   text-decoration: none;
   cursor: pointer;
}

/* ----------main 반응----------------- */


   @media (max-width : 650px ){
   ul{

      padding: 0;
   }
   div.t_login a{
      font-size: 15px;
   }
}

/* ----------menu introduce----------------- */
@media (max-width : 1450px){ /*pc*/
   div#main_img{
      width: 100%;}
  
   img#main_logo{
      width: 100%;
      background-size: 100% 100%;
   }

   img#main_logo{left: 10px;}
   .f3{display: none;
   }
   .footer{width: 700px;
   }
   nav.sub_menu{display: none;
   }
   span#one{padding: 0px 0 20px 0;
   }
   hr{display: none;
   }
   div.gym{margin-left: 0px;
   }
   #form{margin-left: 0px;

   }
}
/* ================================================================================= */



.modal{
   width:100%;     /* 윈도우 전체 차지*/
   height:100%;    /* 윈도우 전체 차지*/
   position: fixed;
   background-color: rgba(0, 0, 0, 0.4);
   left: 0;
   top: 0;
   z-index: 1; /* 최상단에 보이게 하기 */
   overflow: auto; /* 필요한 경우 스크롤바 생기기 */
   display: none;   /* 기본적으로 팝업 안보이기*/
} 
.modal-content{
   display: block;
   width: 80%;
   background-color: #fefefe;
   margin: 15% auto; /* 두개면 하나씩 상하 좌우 이렇게임 , top 에서 15% 좌우 균일(중앙정렬)*/
   padding: 20px;
   border: 1px solid #888;
}

.close{
   font-size: 28px;
   font-weight: bold;
   color: #aaa;
   float: right;

}

.close:hover, .close:focus{
   color:#666;
   text-decoration: none;
   cursor: pointer;
}


/* ================================================================================= */
@media(max-width:1100px){ /*..*/
   .f2{
      display: none;
   }
   nav.t_nav{ display: none;}
   .side{
      display: none;
   }
  span#one{
   padding: 0px 0 20px 0;}
      #mNav{display: block;
         }
      .footer{width: 400px;
      }
      .go_nav{display: none;
      }
      .go_login{display: none;
      }
      .gym{width: 100%;
      }
      #a, #b, #c, #d, #e, .gym, #one{ 
     width: 100%;
     background-size: 100% 100%;
   }
}

   @media (max-width: 900px){ /*측정하기만 적용*/
      #arr, #bar{display: none;}
      #guide{display: none;}

   }

   @media (max-width: 600px){ /*모바일*/
      #map{
         width:250px;
      }
      .side{display: block;}
      br{display: none;}
      #line, #line2, #lin1, #line3,#line4{display: block;}
      #a, #b, #c, #d, #e, .gym{ 
         background-size: 70% 80%;
         height: 300px;
        }
        .footer{width: 100px;}
        .f1 img{width:100px}
        .f4 img{display: none;}
        #g{padding: 30px 0px;}
        div.home img{width: 120px;}
        #side1{right: 25px; top: 100px;}
        #side2{right: 25px; top: 170px;}
        #top{right: 25px; top: 240px;}
        #form p{width: 160px;height: 300px;}
        
   }